body {
    font-family: Arial, sans-serif;
    background-color:skyblue;
    color: #333;
    text-align: center;
    padding: 5px;
}

h2 {
    color: #ff00bb;
}

p {
    font-size: 18px;
    color: #37439e;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ff0000;
}

input {
    width: 250px;
    background-color: #ffc800;
}

button {
    width: 150px;
    background-color: #008080;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #2bff00;
}

#result {
    margin-top: 20px;
    font-size: 22px;
    color: #006400;
}

.menu {
    background-color: #98794a;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}